%h1 ログイン
= form_with url: login_path, scope: :session, local: true do |f|
  .mb-3
    = f.label :employee_number, "社員番号", class: 'form-label'
    = f.text_field :employee_number, class: 'form-control', pattern: '[0-9]{4,}', required: true, title: '4桁以上の数字を入力してください', id: 'inputEmployeeNumber'
  .mb-3
    = f.label :password, "パスワード", class: 'form-label'
    = f.password_field :password, class: 'form-control', id: 'inputPassword'
  = f.submit "ログイン", class: 'btn btn-primary'
