.fs-2.page-title.fw-bold.mb-3 管理者用ホーム

= form_with url: admin_home_path, method: :get, local: true do
  %label 絞り込み:
  = select_tag :filter, options_for_select([["全社員", "all"], ["在職中", "active"], ["退職済", "retired"]], params[:filter] || "all"), onchange: 'this.form.submit()'
= button_to '新規作成', new_user_path, method: :get, class: "btn btn-primary"
%table.table.table-bordered
  %thead
    %tr.align-middle
      %th
        = link_to "社員番号", admin_home_path( sort_column: "employee_number", sort_direction: @sort_column == 'employee_number' && @sort_direction == 'desc' ? 'asc' : 'desc', filter: params[:filter])
        = sort_icon('employee_number')
      %th
        = link_to "名前", admin_home_path( sort_column: "full_name_kana", sort_direction: @sort_column == 'full_name_kana' && @sort_direction == 'desc' ? 'asc' : 'desc', filter: params[:filter])
        = sort_icon('full_name_kana')
      %th
        = link_to "ステータス", admin_home_path(sort_column: "working_status", sort_direction: @sort_column == 'working_status' && @sort_direction == 'desc' ? 'asc' : 'desc', filter: params[:filter])
        = sort_icon('working_status')
      %th
        = link_to "入社日", admin_home_path( sort_column: "date_of_hire", sort_direction: @sort_column == 'date_of_hire' && @sort_direction == 'desc' ? 'asc' : 'desc', filter: params[:filter])
        = sort_icon('date_of_hire')
      %th
        = link_to "退職日", admin_home_path( sort_column: "date_of_termination", sort_direction: @sort_column == 'date_of_termination' && @sort_direction == 'desc' ? 'asc' : 'desc', filter: params[:filter])
        = sort_icon('date_of_termination')
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr.align-middle
        %td= user.employee_number.to_s.rjust(4, '0') # 社員番号
        %td= link_to user.full_name, admin_user_show_path(user.id) # 名前
        %td= user.working_status_str # ステータス
        %td= user.date_of_hire.strftime('%Y/%m/%d') # 入社日
        %td= user.date_of_termination ? user.date_of_termination : "" # 退職日
        %td= link_to '編集', edit_user_path(user.id), class: 'btn btn-primary'# 編集
        %td= link_to '削除', user_path(user.id), method: :delete, data: {confirm: "削除しますか？"}, class: 'btn btn-danger' # 削除