
.date-group
  .date.me-3= formatted_date_with_weekday(@work.start_datetime)
  -# 前回の勤務記録
  -if @prev_work.present?
    = link_to user_work_path(@user, @prev_work), remote: true, class: "btn btn-light text-dark  btn-sm me-3 " do
      %i.fa-solid.fa-chevron-left
  -# 次の勤務記録
  -if @next_work.present?
    = link_to user_work_path(@user, @next_work), remote: true, class: "btn btn-light text-dark btn-sm me-1" do
      %i.fa-solid.fa-chevron-right

.row.mb-3
  .col-sm-3
    .card.h-100
      .card-header 勤務時間
      .card-body
        .card-text
          = "#{formatted_time_only(@work.start_datetime)}-#{formatted_time_only(@work.end_datetime)}"

  .col-sm-3
    .card.h-100
      .card-header 休憩時間
      .card-body

        .card-text
          -if @breaks.present?
            - @breaks.each_with_index do |break_time, index|
              %div
                ="#{formatted_time_only(break_time.start_datetime)}-#{formatted_time_only(break_time.end_datetime)}"
          - else
            なし
.row.mb-3
  .col-sm-3
    .card.h-100
      .card-header 実労働時間(内残業時間)
      .card-body
        .card-text
          = "#{minutes_to_hours_and_minutes(@work.actual_work_time_in_minutes)}(#{minutes_to_hours_and_minutes(@work.total_break_time_in_minutes)})"
        .sub-text
          勤務終了時に計算されます

  .col-sm-3
    .card.h-100
      .card-header 総休憩時間
      .card-body
        .card-text
          -if @work.total_break_time_in_minutes > 0
            = minutes_to_hours_and_minutes(@work.total_break_time_in_minutes)
          -else
            なし
        .sub-text
          休憩終了時に計算されます


#app{"data-user-id" => "#{@user.id}", "data-work-id" => "#{@work.id}"}
%div{id: "timeline", style: "height: 200px;"}