- breadcrumb :works_show, @user, @work
- content_for(:title, '勤務詳細')

%div.tables-container
  // 出勤と休憩
  %div.me-4
    .headline 出勤
    %table.table
      %thead
        %tr
          %th.text-dark 出勤時間
          %th.text-dark 退勤時間
      %tbody
        %tr
          %td.text-dark
            -if @work.start_datetime.present?
              .d-flex
                .date= formatted_date_with_weekday(@work.start_datetime)
                .time.mx-1= formatted_time_only(@work.start_datetime)
            -else
              ="-"
          %td.text-dark
            - if @work.end_datetime.present?
              .d-flex
                .date=formatted_date_with_weekday(@work.end_datetime)
                .time.mx-1= formatted_time_only(@work.end_datetime)
            -else
              ="-"
  %div
    .headline 休憩
    %table.table
      %thead
        %tr
          -if @breaks.length>1
            %th.text-dark
          %th.text-dark 休憩開始時間
          %th.text-dark 休憩終了時間

        -if @breaks.present?
          -# 休憩時間が存在する
          - @breaks.each_with_index do |break_time, index|
            %tbody
              %tr
                -# 休憩時間が複数存在する
                -if @breaks.length > 1
                  %td.text-dark= index + 1
                %td.text-dark
                  -if break_time.start_datetime.present?
                    .d-flex
                      .date=formatted_date_with_weekday(break_time.start_datetime)
                      .time.mx-1= formatted_time_only(break_time.start_datetime)
                  - else
                    ="-"
                  %td.text-dark
                    -if break_time.end_datetime.present?
                      .d-flex
                        .date=formatted_date_with_weekday(break_time.end_datetime)
                        .time.mx-1= formatted_time_only(break_time.end_datetime)
                    -else
                      ="-"
        -else
          -# 休憩時間が存在しない
          %tbody
            %tr
              %td -
              %td -
  // 合計
  %div
    .headline 合計

    %table.table
      %thead
        %tr
          %th.text-dark 実労働時間
          %th.text-dark 合計休憩時間
          %th.text-dark 残業時間

      %tbody
        %tr.align-middle
          %td.text-dark= minutes_to_hours_and_minutes(@work.actual_work_time_in_minutes)
          %td.text-dark= minutes_to_hours_and_minutes(@work.total_break_time_in_minutes)
          %td.text-dark= minutes_to_hours_and_minutes(@work.total_overtime_in_minutes)
