%div.mb-2.d-flex.justify-content-between.align-items-center
  %div.d-flex.align-items-center
    %div.dropdown.me-3.align-items-center.d-flex
      %label 部署：
      %button.btn.btn-light.dropdown-toggle.text-dark.btn-sm{"data-bs-toggle" => "dropdown", "aria-expanded" => "false"}
        = @department_label
      %ul.dropdown-menu
        %li
          = link_to "すべて", users_path(department_id: "", filter: params[:filter]), remote: true, class: "dropdown-item #{'selected' if @department_id == ''}"
        %li
          = link_to "未設定", users_path(department_id: "none", filter: params[:filter]), remote: true, class: "dropdown-item #{'selected' if @department_id == 'none'}"
        - Department.pluck(:name, :id).each do |label, value|
          %li
            = link_to label, users_path(department_id: value, filter: params[:filter]), remote: true, class: "dropdown-item #{'selected' if @department_id == value.to_s}"

    %div.dropdown.me-3.align-items-center.d-flex
      %label 社員：
      %button.btn.btn-light.dropdown-toggle.text-dark.btn-sm{"data-bs-toggle" => "dropdown", "aria-expanded" => "false"}
        = @employee_label
      %ul.dropdown-menu
        %li
          = link_to "在職中", users_path(filter: "active", department_id: params[:department_id]), remote: true, class: "dropdown-item #{'selected' if @filter == 'active'}"
        %li
          = link_to "退職済", users_path(filter: "retired", department_id: params[:department_id]), remote: true, class: "dropdown-item #{'selected' if @filter == 'retired'}"
        %li
          = link_to "全社員", users_path(filter: "all", department_id: params[:department_id]), remote: true, class: "dropdown-item #{'selected' if @filter == ''}"
    = button_to 'リセット', users_path, method: :get,  class: "btn btn-secondary btn-sm", remote: true
  = button_to '新規作成', new_user_path, method: :get, class: "btn btn-primary"
.table-wrapper
  %table.table
    %thead
      %tr.align-middle
        %th
          = link_to users_path(sort_column: "employee_number", sort_direction: @sort_column == 'employee_number' && @sort_direction == 'desc' ? 'asc' : 'desc', filter: params[:filter]), remote: true  do
            社員番号
            = sort_icon('employee_number')
        %th 部署
        %th
          = link_to  users_path( sort_column: "full_name_kana", sort_direction: @sort_column == 'full_name_kana' && @sort_direction == 'desc' ? 'asc' : 'desc', filter: params[:filter]), remote: true  do
            名前
            = sort_icon('full_name_kana')
        %th
          = link_to  users_path(sort_column: "working_status", sort_direction: @sort_column == 'working_status' && @sort_direction == 'desc' ? 'asc' : 'desc', filter: params[:filter]), remote: true  do
            ステータス
            = sort_icon('working_status')
        %th
          = link_to  users_path( sort_column: "date_of_hire", sort_direction: @sort_column == 'date_of_hire' && @sort_direction == 'desc' ? 'asc' : 'desc', filter: params[:filter]), remote: true  do
            入社日
            = sort_icon('date_of_hire')
        %th
          = link_to  users_path( sort_column: "date_of_termination", sort_direction: @sort_column == 'date_of_termination' && @sort_direction == 'desc' ? 'asc' : 'desc', filter: params[:filter]), remote: true  do
            退職日
            = sort_icon('date_of_termination')
        %th
        %th

    %tbody.table-group-divider
      - @users.each do |user|
        %tr.align-middle
          %td.text-dark= user.employee_number.to_s.rjust(4, '0') # 社員番号
          %td.text-dark= user.department&.name || "未設定" # 部署
          %td.text-dark= link_to user.full_name, user_path(user.id) # 名前
          %td.text-dark= user.working_status_str # ステータス
          %td.text-dark= user.date_of_hire.strftime('%Y/%m/%d') # 入社日
          %td.text-dark= user.date_of_termination ? user.date_of_termination : "" # 退職日
          %td.text-dark= link_to '勤務履歴',  user_works_path(user.id), class: 'btn btn-primary btn-sm button-area' # 勤務履歴
          %td.text-dark= link_to '削除',  user_path(user.id), method: :delete, data: {confirm: "削除しますか？"}, class: 'btn btn-danger btn-sm button-area' # 削除