- breadcrumb :users_home
- content_for(:title, 'ホーム')

.clock
.date-container
  .date
  .weekday
.button_container.mx-auto.d-grid.gap-3.py-3
  -# 出勤ボタン
  .work-btn-group.d-flex.g-col-12.column-gap-3
    = link_to user_works_path(@user), method: :post, class: "btn btn-primary flex-grow-1 btn-lg #{'disabled' if current_user.working?}" do
      %i.bi.bi-box-arrow-in-right
      .text 出勤
    -# 退勤ボタン
    = link_to user_work_path(@user, @latest_work&.id || '#'), method: :patch, class: "btn btn-primary flex-grow-1 btn-lg #{'disabled' if current_user.taking_a_break? || !current_user.working?}" do
      %i.bi.bi-box-arrow-right
      .text 退勤
  .break-btn-group.d-flex.g-col-12
    - # 休憩開始ボタン
    - unless current_user.taking_a_break?
      = link_to user_breaks_path(@user), class: "btn btn-secondary flex-grow-1 #{'disabled' unless current_user.working?}", method: :post do
        %i.bi.bi-cup-hot
        .text 休憩開始

    - # 休憩終了ボタン
    - if current_user.taking_a_break?
      = link_to user_break_path(@user, @latest_break&.id || '#'), method: :patch, class: "btn btn-secondary flex-grow-1 " do
        %i.bi.bi-cup-hot
        .text 休憩終了

- if @latest_work.present?
  %table.table.my-4
    %thead
      %tr
        %th.text-primary-emphasis 出勤時間
        %th.text-primary-emphasis 退勤時間
        %th.text-primary-emphasis 休憩開始時間
        %th.text-primary-emphasis 休憩終了時間

    %tbody.table-group-divider
      - # 出勤・退勤時間の行
      %tr.align-middle
        %td.text-primary-emphasis{ rowspan: @breaks.any? ? @breaks.size : 1 }= formatted_time_only(@latest_work.start_datetime) # 出勤時間
        %td.text-primary-emphasis{ rowspan: @breaks.any? ? @breaks.size : 1 }=@latest_work.end_datetime.present? ? formatted_time_only(@latest_work.end_datetime) : "-" # 退勤時間

        - # 最初の休憩時間を表示（存在する場合）
        - if @breaks.any?
          - first_break = @breaks.first
          %td.text-dark= first_break.start_datetime.present? ? formatted_time_only(first_break.start_datetime) : "-" # 最初の休憩開始時間
          %td.text-dark= first_break.end_datetime.present? ? formatted_time_only(first_break.end_datetime) : "-" # 最初の休憩終了時間
        - else
          %td{"colspan" => 2} -

      - # 残りの休憩時間を行として表示
      - @breaks.drop(1).each do |break_time|
        %tr.align-middle
          %td.text-dark= break_time.start_datetime.present? ? formatted_time_only(break_time.start_datetime) : "-" # 休憩開始時間
          %td.text-dark= break_time.end_datetime.present? ? formatted_time_only(break_time.end_datetime) : "-" # 休憩終了時間