- breadcrumb :users_home
- content_for(:title, 'ホーム')

.clock
.date-container
  .date
  .weekday
.button_container.mx-auto.d-grid.gap-3.py-3
  -# 出勤ボタン
  .work-btn-group.d-flex.g-col-12.column-gap-3
    = link_to user_works_path(@user), method: :post, class: "btn btn-primary flex-grow-1 btn-lg #{'disabled' if current_user.working?}" do
      %i.bi.bi-box-arrow-in-right
      .text 出勤
    -# 退勤ボタン
    = link_to user_work_path(@user, @latest_work&.id || '#'), method: :patch, class: "btn btn-primary flex-grow-1 btn-lg #{'disabled' if current_user.taking_a_break? || !current_user.working?}" do
      %i.bi.bi-box-arrow-right
      .text 退勤
  .break-btn-group.d-flex.g-col-12
    - # 休憩開始ボタン
    - unless current_user.taking_a_break?
      = link_to user_breaks_path(@user), class: "btn btn-secondary flex-grow-1 #{'disabled' unless current_user.working?}", method: :post do
        %i.bi.bi-cup-hot
        .text 休憩開始

    - # 休憩終了ボタン
    - if current_user.taking_a_break?
      = link_to user_break_path(@user, @latest_break&.id || '#'), method: :patch, class: "btn btn-secondary flex-grow-1 " do
        %i.bi.bi-cup-hot
        .text 休憩終了

- if @latest_work.present?
  = render "work_table"
