.main_content
  .user_home
    .fs-2.page-title.fw-bold.mb-3  一般ユーザーホーム
    .date-container
      .date
      .weekday
    .clock
    .button_container
      = button_to "出勤", works_path, method: :post, class: "btn btn-success", disabled: current_user.working?
      = button_to "退勤", work_path(@latest_work.id), method: :patch, class: "btn btn-danger", disabled: current_user.taking_a_break? || !current_user.working?
    .button_container
      = button_to "休憩開始", breaks_path, method: :post, class: "btn btn-primary", disabled: current_user.taking_a_break? || !current_user.working?
      = button_to "休憩終了", break_path(@latest_break.id), method: :patch, class: "btn btn-primary", disabled: !current_user.taking_a_break?

    %h3 今日の記録
    %table
      %thead
        %tr
          %th 出勤時間
          %th 退勤時間
          %th 休憩時間
          %th 累計休憩時間
          %th 労働時間
          %th 残業時間
      %tbody
        - @works_today.each do |work|
          %tr
            %td= formatted_time_only(work.start_datetime) # 出勤時間
            %td
              -if work.end_datetime # 退勤時
                = formatted_time_only(work.end_datetime)
              -else
                ="出勤中"

            %td
              - if work.breaks.any?
                - work.breaks.each do |break_record|
                  %div
                    = formatted_time_only(break_record.start_datetime) # 休憩開始時間
                    - if break_record.end_datetime.present?
                      = " - " + formatted_time_only(break_record.end_datetime) # 休憩終了時間がある場合
                    - else
                      = "-休憩中" # 休憩がまだ終了していない場合
              - else
                = "" # 休憩がない場合の表示
            %td= minutes_to_hours_and_minutes(work.total_break_time_in_minutes)
            %td= minutes_to_hours_and_minutes(work.total_work_time_in_minutes)
            %td= minutes_to_hours_and_minutes(work.total_overtime_in_minutes)