.fs-2.page-title.fw-bold.mb-3 社員登録

= form_with  model: @user, local: true, html: { class: 'needs-validation', novalidate: true } do |f|

  .fs-5 会社情報
  .border-top.pt-4.border-2
    .col-12
      .col-4.mb-3
        = f.label :employee_number, class: 'form-label d-flex align-items-center' do
          .mb-0= "社員番号"
          %span.badge.rounded-pill.text-bg-danger.mx-1 必須
        = f.text_field :employee_number, class: 'form-control', value: @employee_number, readonly: true, required: true

      .col-4.mb-3
        = f.label :date_of_hire, class: 'form-label d-flex align-items-center' do
          .mb-0= "入社日"
          %span.badge.rounded-pill.text-bg-danger.mx-1 必須
        = f.date_field :date_of_hire, class: 'form-control', required: true
        .valid-feedback
        .invalid-feedback
          入力してください

      .col-4.mb-3
        = f.label :department_id, class: 'form-label d-flex align-items-center' do
          .mb-0="部門"
        = f.collection_select :department_name, @departments, :id, :name, { prompt: "未選択" }, class: "form-select"

  .fs-5.pt-4 社員情報
  .border-top.pt-4.border-2
  .col-12
    .row
      .col-4.mb-3
        = f.label :first_name, class: 'form-label d-flex align-items-center' do
          .mb-0="姓"
          %span.badge.rounded-pill.text-bg-danger.mx-1 必須
        = f.text_field :first_name, class: 'form-control', required: true, pattern: "[ぁ-んァ-ン一-龥a-zA-Z]{1,30}"
        .form-text
        .valid-feedback
        .invalid-feedback.text-wrap
          姓は30文字以内で、ひらがな、カタカナ、漢字、ローマ字を使用してください
      .col-4.mb-3
        = f.label :family_name, class: 'form-label d-flex align-items-center' do
          .mb-0="名"
          %span.badge.rounded-pill.text-bg-danger.mx-1 必須
        = f.text_field :family_name, class: 'form-control', required: true, pattern: "[ぁ-んァ-ン一-龥a-zA-Z]{1,30}"
        .valid-feedback
        .invalid-feedback
          名は30文字以内で、ひらがな、カタカナ、漢字、ローマ字を使用してください
    .row
      .col-4.mb-3
        = f.label :first_name_kana, class: 'form-label d-flex align-items-center' do
          .mb-0="姓(かな)"
        = f.text_field :first_name_kana, class: 'form-control', pattern: "[ぁ-ん]{1,30}"
        .valid-feedback
        .invalid-feedback
          姓(かな)は30字以内で、ひらがなで入力してください。
      .col-4.mb-3
        = f.label :family_name_kana, class: 'form-label d-flex align-items-center' do
          .mb-0= "名(かな)"
        = f.text_field :family_name_kana, class: 'form-control', pattern: "[ぁ-ん]{1,30}"
        .valid-feedback
        .invalid-feedback
          名(かな)は30字以内で、ひらがなで入力してください。
    .col-4.mb-3
      = f.label :birthday, class: 'form-label d-flex align-items-center' do
        .mb-0= "生年月日"
        %span.badge.rounded-pill.text-bg-danger.mx-1 必須
      = f.date_field :birthday, class: 'form-control', required: true
      .valid-feedback
      .invalid-feedback
        入力してください

  = f.submit "登録", class: 'btn btn-primary'
