%header.header-container{class: @admin_mode ? 'admin-mode' : ''}

  .wrapper.app-header__wrapper
    .app-header__start
      %a.brand{href: @admin_mode ? admin_users_path :  home_users_path} 勤怠管理アプリケーション

      - if current_user.is_admin
        .dropdown
          %button.btn.btn-primary.dropdown-toggle{type: "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false", class: @admin_mode ? 'btn-secondary' : 'btn-primary' }
            = @admin_mode ? "管理者モード" : "一般モード"
          %ul.dropdown-menu
            %li
              = link_to toggle_admin_mode_path, method: :post, class: 'dropdown-item' do
                = @admin_mode ? "一般モードに切り替える" : "管理者モードに切り替える"

    .app-header__end.text-primary-emphasis

      // ステータス
      %div.status_area.d-flex.badge.text-bg-light.rounded-pill
        %span.status_icon.me-1
          = working_status_icon(@current_user.working_status)
        %span.status_text
          = current_user.working_status_str

      .nav-item.dropdown
        %a.nav-link{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
          // 名前
          .d-flex
            .name_area.d-flex
              %span.name
                = truncate(current_user.full_name, length: 15)
              %span.san さん
            %i.bi.bi-chevron-down.mx-2

        // ドロップダウン中身
        %ul.dropdown-menu
          %li
            %a.dropdown-item{href:  user_path(current_user.id)}
              %i.bi.bi-person.me-1
              %span.menu-text 社員情報

          %hr.my-2
          %li
            = link_to logout_path, method: :delete, class: 'dropdown-item' do
              %i.bi.bi-box-arrow-right.me-1
              ログアウト

