!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    = csrf_meta_tags
    = csp_meta_tag

    // Bootstrapの読み込み
    %link{crossorigin: "anonymous", href: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css", integrity: "sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH", rel: "stylesheet"}/
    %script{src: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"}
    %link{href: "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css", rel: "stylesheet"}/
    // Google Charts
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    // カスタムCSSの読み込み
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    %title="勤怠管理アプリケーション"
  %body{
    "data-controller" => "#{controller.controller_path}", # ネームスペース込みのコントローラ名
    "data-action" => "#{controller.action_name}"
    }
    -if logged_in?
      .app-layout
        .app-header
          = render 'layouts/header'
        .main-layout
          .app-sidebar
            - if @admin_mode
              =render 'layouts/admin_sidebar'
            -else
              = render 'layouts/sidebar'
          .content-wrapper
            // パンくずリスト
            .breadcrumb-container
              = breadcrumbs separator: " &nbsp;&rsaquo;&nbsp; "
            .main-content
              = display_flash_messages
              // ページタイトル
              .page-title
                = yield(:title)
              //コンテンツ
              .content-body
                = yield
      .app-footer
        = render 'layouts/footer'
    - else
      .login-content
        = display_flash_messages
        = yield

    // JavaScript読み込み
    = javascript_include_tag 'application'